body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 280px auto;
}

.sidebar {
    padding: 40px 30px;
    margin: 20px 0px 40px 10px;
    gap: 30px;
    border-radius: 20px;
    border: 3px solid #4caf50;
    background-color: #f8f9fa;
}

    .sidebar img.logo {
        width: 100%;
        padding: 10px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        padding: 10px;
    }

        .sidebar li a {
            text-decoration: none;
            color: black;
        }

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
}

.top-section, .bottom-section {
    background-color: #fff;
    padding: 40px 30px;
    margin: 0px 10px 20px 0px;
    border-radius: 20px;
    border: 3px solid #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    display: none;
}



@media screen and (max-width: 768px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .sidebar {
        display: block;
        width: 100%;
        height: auto; 
        padding: 20px;
        background-color: #f8f9fa;
        z-index: 1000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    /* Вміст контенту теж займає всю ширину */
    .content {
        width: 100%; 
        padding: 20px;
        flex-grow: 1; 
         margin:20px;
    }
    .top-section {
        display: none;
    }
    
    
}



    