body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 280px auto;
    height: 100vh;
}

.sidebar {
    padding: 40px 30px;
    margin: 20px 0 40px 10px;
    gap: 30px;
    border-radius: 20px;
    border: 3px solid #4caf50;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

    .sidebar img.logo {
        width: 100%;
        padding: 10px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .sidebar li {
        padding: 10px;
    }

        .sidebar li a {
            color: black;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: color 0.3s ease;
        }

            .sidebar li a img {
                margin: 10px;
            }

            .sidebar li a:hover {
                color: #FF5722;
            }

        .sidebar li:hover img {
            filter: brightness(0) saturate(100%) invert(42%) sepia(71%) saturate(477%) hue-rotate(337deg) brightness(96%) contrast(95%);
        }

        .sidebar li:last-child {
            margin-top: auto;
        }

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    flex-grow: 1;
  
}

.top-section, .bottom-section {
    background-color: #fff;
    padding: 40px 30px;
    margin: 0 10px 20px 0;
    border-radius: 20px;
    border: 3px solid #4caf50;
    display: flex;
    align-items: center;
}

.dropdown {
    display: none;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .sidebar {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: #f8f9fa;
        z-index: 1000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

   
    .top-section {
        display: none;
    }

    .logout-item {
        margin-top: auto; 
    }

    .logout-link {
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        text-decoration: none; 
    }

        .logout-link img {
            margin-right: 10px;
        }
}
