@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 14px;
}
.container {
    margin: 0;
    padding: 0;
}
main {
    margin-top: -1.2%;
    width: 115%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
nav {
    height: 84px;
/*    background-color: #4CAF50;*/
}

/*////////////////////////////////////*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9990; /* Overlay */
}


/*/////////////////////////NoSystem////////////////////////////*/

#mainDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    padding: 22px 60px 22px 100px;
    gap: 50px;
    position: absolute;
    height: 84px;
    top: 0px;
    background: #FFFEFE;
    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: #4CAF50;
    border-radius: 0px 0px 36px 36px;

    z-index: 9991;
}

@media (max-width: 1440px) {
    #mainDiv {
        padding: 22px 30px;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    #mainDiv {
        flex-direction: column;
        align-items: stretch;
        padding: 15px 20px;
        gap: 20px;
        height: 150px;
        bottom: 100%;
    }
}

#headerDiv1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 60px;
    max-width: 50%;
    height: 40px;
}

#headerDiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    width: auto;
    height: 40px;
}

/*@media (max-width: 768px) {
    #headerDiv1, #headerDiv2 {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        gap: 10px;
    }
}*/

#catalogDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 70px;
    width: 314.87px;
    height: 40px;
}

#logo {
    width: 90.87px;
    height: 37px;
}

#list {
    width: 24px;
    height: 24px;
}

#categoriesTextcategoriesText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFEFE;
}

#categoriesLogo {
    width: 24px;
    height: 24px;
    padding: 2px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/
.dropdown-menu-fullscreen {
    top: 90px;
    left: -1.5px;
    min-width: 280px;
    width: 100%;
    height: auto;
    overflow-y: auto;
    z-index: 1050;
    display: none;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 4px;
    background: #FFFFFF;
    border: 3px solid #4CAF50;
}

.dropdown-menu-fullscreen.show {
    display: flex; 
}

#categoryPanel.show {
    display: flex;
}

.dropdown-menu-fullscreen .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}

.category-list {
    flex: 1;
    padding: 20px;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.24px;
    text-align: left;
    color: #585858;
}

.category-item {
    margin: 10px 0;
}

#navbarDropdownMenuLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    width: 134px;
    height: 40px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #4CAF50;
    border-radius: 30px;
    order: 1;
}

#navbarDropdownMenuLink:hover {
    border: 3px solid #4CAF50;
    color: #4CAF50;
    background: #FFFFFF;
    padding: 7px 17px;
}

#categoryPanel {
    flex: 3;
    margin-top: 29px;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    gap: 48px;
    min-width: 700px;
    height: auto;
}

/*/////////////////////////////  new code for CategoryCard  ///////////////////////////////////*/

.categoryDivCard {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 270px;
    height: 140px;
    background: #FFFEFE;
    border: 3px solid #FF5722;
    border-radius: 30px;
}

.categorIconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #FF5722;
    /*border-radius: 0px 100px 100px 0px;*/
    /*height: 70%;*/
    /*padding-inline-end: 10px;*/
    height: 100%;
    border-radius: 26px 0px 0px 26px;
}

.categortIcon {
    width: 35px;
    height: 35px;
}

.categorTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.categoryText {
    text-align: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    /*padding-right: 7%;*/
    /*font-size: 16px;*/
    font-size: 18px;
    line-height: 22px;
    color: #FF5722;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/*Old code DON`T DELETE*/
/*.rowCategoryFotoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: 968px;
    height: 160px;
    flex: none;
}

.categoryFoto {
    box-sizing: border-box;
    width: 304px;
    height: 160px;
    border-radius: 30px;
    cursor: pointer;
}*/
.miniCategoryIcon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/


#searchDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    width: auto;
    height: 40px;
    background: #FFFFFF;
    border: 3px solid #4CAF50;
    border-radius: 30px;
    z-index: 9993;
}

#searchIcon {
    width: 24px;
    height: 24px;
}

#searchText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #626262;
    border: 0;
    height: 30px;
    outline: none; 
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    margin: 0 auto;
    width: auto;
    height: 40px;
    border: 3px solid #4CAF50;
    background: #FFFEFE;
    border-radius: 30px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #585858;
}

#profileIcon {
    width: 24px;
    height: 24px;
}

#basketDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    width: 152px;
    height: 40px;
    background: #FF5722;
    border-radius: 30px;
    cursor:pointer;
}

#basketIcon {
    width: 24px;
    height: 24px;
}

#basketText {
    width: 52px;
    height: 22px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/*//////////////////////////////////FOOTER////////////////////////////////*/

footer {
    top: 100%;
    position: absolute;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 559px;
    left: 0px;
    bottom: 0px;
}

#infoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2% 6.33%;
    padding-bottom:100px;
    gap: 7.5%;
    width: 100%;
    background: #4CAF50;
    border-radius: 36px;
    align-self: stretch;
}

@media (max-width: 1060px) {
    #infoDiv {
        display: none;
    }
    .footer {
        height: 270px;
        border-top: solid 32px #4E9B51;
    }
}

/*Adapting*/
.columnDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 17.87%;
    height: 253px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.headerSpan, .bodySpan {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    flex: none;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    order: 0;
    flex-grow: 0;
    word-break: break-word; 
    overflow-wrap: break-word;
}

.headerSpan{
    font-size:19px;
    font-weight:bold;
}

.bodySpan {
    height: 38px;
    cursor: pointer;
}

#mainFooterDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 194px;
    flex: none;

}

#privacyDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px 20px 90px;
    gap: 10px;
    width: 100%;
    height: 65px;
    background: #FF5722;
    border-radius: 36px 36px 0px 0px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#privacyTextDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 3px;
    width: 375px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#copyrightText {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

#contactsDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 20px 0px 20px 82px;
    gap: 12%;
    width: 100%;
    height:auto;
    background: #FFFFFF;
}

@media (max-width: 1000px) {
    #contactsDiv {
        padding: 0;
        gap: 5%;
        width: 100%;
    }
}

#mainContactsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10%;
    width: 528px;
    height: 67px;
    flex: none;
}

#socialDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: 204px;
    height: 40px;
    flex: none;
}

#logoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 148px;
    height: 67px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.socialIcons {
    width: 30px;
    height: 30px;
}

/*/////////////////////////////////////////////////////////////////////////*/
#communicationDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 129px;
    gap: 16%;
    width: 613px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#communicationSubDiv1, #communicationSubDiv2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width:45%;
}

.communicationTextDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 277px;
    padding-top: 8%;
}


.communicationMainText {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #1E1E1E;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.communicationPhoneDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    width: 100%;
    height: 22px;
}

.communicationIconDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 100%;
    height: 22px;
}

.communicationText {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    height: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.communicationIcon {
    width: 20px;
    height: 20px;
}
