<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/popUpStyles/loginRegisterPopUp.css" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
</head>
<style>
    .popup-container {
        display: flex;
        width: 1216px;
        height: 624px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFFEFE;
        border-radius: 36px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 10000;
    }

    .popup-left,
    .popup-right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-left {
        width: 742px;
        background: #FFFEFE;
        border-top-left-radius: 36px;
        border-bottom-left-radius: 36px;
        border: 3px solid #4CAF50;
        position: relative;
        flex: 1;
    }

    .popup-right {
        width: 474px;
        background: #4CAF50;
        color: white;
        border-top-right-radius: 36px;
        border-bottom-right-radius: 36px;
        flex: 1;
        position: relative;
    }

    .popup-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .popup-header {
        text-align: center;
        margin-bottom: 24px;
    }

    .header-title {
        color: #4CAF50;
        font-size: 40px;
        font-family: Noto Sans;
        font-weight: 500;
    }

    .social-login {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-bottom: 24px;
    }

    .social-icon {
        width: 43px;
        height: 44px;
        border-radius: 30px;
        border: 1px solid #4CAF50;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-info {
        color: #4CAF50;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 400;
        text-align: center;
        margin-bottom: 24px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        margin-bottom: 24px;
    }

    .form-input {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .form-input label {
        color: #757575;
        font-size: 14px;
        font-family: Noto Sans;
        font-weight: 500;
    }

    .form-input input {
        height: 43px;
        padding: 12px 20px;
        border-radius: 8px;
        border: 1px solid #4CAF50;
        background: #FFFEFE;
        width: calc(100% - 40px);
    }

    .forgot-password {
        text-align: center;
        color: #4CAF50;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .login-button {
        padding: 12px 48px;
        border-radius: 30px;
        border: 1px solid #4CAF50;
        color: #4CAF50;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        background: transparent;
        cursor: pointer;
    }

    .popup-right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
        height: 100%;
    }

    .greeting-title {
        color: white;
        font-size: 40px;
        font-family: Noto Sans;
        font-weight: 500;
    }

    .greeting-info {
        color: white;
        font-size: 16px;
        font-family: Noto Sans;
    }

    .register-button {
        padding: 12px 48px;
        border-radius: 30px;
        border: 1px solid white;
        color: white;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        background: transparent;
        cursor: pointer;
        text-align: center;
    }

    .decorative-shape-left,
    .decorative-shape-right {
        position: absolute;
        border: 3px solid;
    }

    .decorative-shape-left {
        width: 201.84px;
        height: 398.63px;
        left: 0;
        top: 50%;
        transform: rotate(155.17deg);
        transform-origin: 0 0;
        border-color: #4CAF50;
    }

    .decorative-shape-right {
        width: 179px;
        height: 360px;
        right: 0;
        top: 50%;
        transform: rotate(169.60deg);
        transform-origin: 0 0;
        border-color: #FFFEFE;
    }
</style>

<body>
    <header>
        <div id="overlay"></div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div id="mainDiv" class="container-fluid">
                <div id="headerDiv1" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="catalogDiv">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Goodmeal">
                            <img id="logo" src="~/icons/Logo.png" />
                        </a>
                        <div>
                            <a id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img id="categoriesLogo" src="~/icons/List.png" />
                                <span id="categoriesText">Каталог</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-fullscreen"
                                aria-labelledby="navbarDropdownMenuLink">
                                <div class="category-list">
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Fruit.png" />Фрукти</a>
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Vegetables.png" />Овочі</a>
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Fish.png" />Риба</a>
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Meat.png" />М'ясо</a>
                                </div>
                            </div>
                            <div id="categoryPanel"></div>
                        </div>
                    </div>
                    <div id="searchDiv">
                        <img id="searchIcon" src="~/icons/Search.png" />
                        <input id="searchText" placeholder="Шукати..." />
                    </div>
                </div>
                <div id="headerDiv2" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="deliveryDiv">
                        <img id="deliveryIcon" src="~/icons/Delivery.png" />
                        <input id="deliveryText" placeholder="Введіть адресу доставки" />
                    </div>
                    <button id="profile" type="button"><img id="profileIcon" src="~/icons/Person.png" /></button>

                </div>
                <div id="basketDiv">
                    <img id="basketIcon" src="~/icons/Cart.png" />
                    <span id="basketText">Кошик</span>
                </div>
            </div>
        </nav>
        <!-- Login Popup -->
        <div id="loginPopup" class="popup-container" style="display: none;">
            <div class="popup-left">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="header-title">Вхід</div>
                        <div class="social-login">
                            <div class="social-icon facebook">
                                <img src="~/icons/facebookIcon.png" alt="Facebook">
                            </div>
                            <div class="social-icon google">
                                <img src="~/icons/googleIcon.png" alt="Google">
                            </div>
                            <div class="social-icon apple">
                                <img src="~/icons/appleIcon.png" alt="Apple">
                            </div>
                        </div>
                        <div class="login-info">або використовуйте ваш емейл для входу</div>
                    </div>
                    <div class="login-form">
                        <div class="form-input">
                            <input type="email" id="loginEmail" placeholder="Емейл">
                        </div>
                        <div class="form-input">
                            <input type="password" id="loginPassword" placeholder="Пароль">
                        </div>
                        <div class="forgot-password">Забули пароль?</div>
                    </div>
                    <button class="login-button">Увійти</button>
                </div>
                <!-- <img class="decorative-shape-left" src="~/icons/loginRightVector.png" alt="Decorative Shape Left"> -->
            </div>
            <div class="popup-right">
                <div class="popup-right-content">
                    <div class="greeting-title">Привіт!</div>
                    <div class="greeting-info">
                        Якщо у вас немає аккауну ви можете <br>зареєструватись натиснувши на кнопку<br>“Зареєструватись”
                    </div>
                    <button class="register-button">Зареєструватись</button>
                </div>
                <!-- <img class="decorative-shape-right" src="~/icons/loginRightVector.png" alt="Decorative Shape Right"> -->
            </div>
        </div>
        <!-- Register Popup -->
        <div id="registerPopup" class="popup-container" style="display: none;">
            <div class="popup-left">
                <div class="left-content">
                    <div class="left-header">
                        <div class="header-title">З Поверненням!</div>
                        <div class="header-info">
                            Якщо у вас вже є аккаунт ви можете<br>увійти натиснувши на кнопку “Увійти”
                        </div>
                        <button class="login-button">Увійти</button>
                    </div>
                </div>
            </div>
            <div class="popup-right">
                <div class="right-content">
                    <div class="right-header">
                        <div class="header-title">Реєстрація</div>
                        <div class="social-login">
                            <div class="social-icon facebook"></div>
                            <div class="social-icon google">
                                <div class="icon-group">
                                    <div class="icon-white"></div>
                                    <div class="icon-green"></div>
                                </div>
                            </div>
                            <div class="social-icon apple"></div>
                        </div>
                        <div class="register-info">або використовуйте ваш емейл для рєстрації</div>
                    </div>
                    <div class="register-form">
                        <div class="form-input">
                            <label for="registerName">Імʼя</label>
                            <input type="text" id="registerName">
                        </div>
                        <div class="form-input">
                            <label for="registerEmail">Емейл</label>
                            <input type="email" id="registerEmail">
                        </div>
                        <div class="form-input">
                            <label for="registerPassword">Пароль</label>
                            <input type="password" id="registerPassword">
                        </div>
                        <button class="register-button">Зареєструватись</button>
                    </div>
                </div>
                <div class="decorative-shape decorative-shape-left"></div>
            </div>
        </div>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="footer">
            <div id="infoDiv">
                <div class="columnDiv">
                    <span class="headerSpan">Онлайн супермаркет</span>
                    <span class="bodySpan">Замовлення</span>
                    <span class="bodySpan">Формування замовлення</span>
                    <span class="bodySpan">Отримання замовлення</span>
                    <span class="bodySpan">Зміни у замовленні</span>
                    <span class="bodySpan">Правила інтернет- продажів</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Для гостей</span>
                    <span class="bodySpan">Про “Власний рахунок”</span>
                    <span class="bodySpan">Супермаркети</span>
                    <span class="bodySpan">Події</span>
                    <span class="bodySpan">Подарункові сертифікати</span>
                    <span class="bodySpan">Доставка для бізнесу</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Цікавинки</span>
                    <span class="bodySpan">Екодружність</span>
                    <span class="bodySpan">Соціальна турбота</span>
                    <span class="bodySpan">Фермерська продукція</span>
                    <span class="bodySpan">Власна кондитерська</span>
                    <span class="bodySpan">“Наша марка”</span>
                    <span class="bodySpan">Друзі “Goodmeal”</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Про компанію</span>
                    <span class="bodySpan">Робота в “Good meal”</span>
                    <span class="bodySpan">Новини</span>
                    <span class="bodySpan">Контакти</span>
                    <span class="bodySpan">Правила безпеки</span>
                    <span class="bodySpan">Правила інтернет- продажів</span>
                </div>
            </div>
            <div id="mainFooterDiv">
                <div id="contactsDiv" class="container-fluid">
                    <div id="mainContactsDiv" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Goodmeal">
                            <img id="logoFooter" src="~/icons/Logo.png" />
                        </a>
                        <div id="socialDiv">
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Facebook.png" />
                            </a>
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Instagram.png" />
                            </a>
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Viber.png" />
                            </a>
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Telegram.png" />
                            </a>
                        </div>
                    </div>
                    <div id="communicationDiv">
                        <div id="communicationSubDiv1">
                            <div class="communicationTextDiv">
                                <span class="communicationMainText">Гаряча лінія у межах України</span>
                            </div>
                            <div class="communicationPhoneDiv">
                                <img class="communicationIcon" src="~/icons/Phone.png" />
                                <span class="communicationText">0800 301 707</span>
                            </div>
                            <div class="communicationIconDiv">
                                <img class="communicationIcon" src="~/icons/Clock.png" />
                                <span class="communicationText">7.00-23.00</span>
                            </div>
                        </div>
                        <div id="communicationSubDiv2">
                            <div class="communicationTextDiv">
                                <span class="communicationMainText">Для дзвінків з-за кордону</span>
                            </div>
                            <div class="communicationPhoneDiv">
                                <img class="communicationIcon" src="~/icons/Phone.png" />
                                <span class="communicationText"> 0800 301 707</span>
                            </div>
                            <div class="communicationIconDiv">
                                <img class="communicationIcon" src="~/icons/Clock.png" />
                                <span class="communicationText">7.00-23.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="privacyDiv">
                    <div id="privacyTextDiv">
                        <img id="copyrightIcon" src="~/icons/Copyright.png" />
                        <span id="copyrightText"><b>Goodmeal</b>, 2024. Всі права захищено</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
