<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/popUpStyles/loginRegisterPopUp.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/404/404.css" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div id="overlay"></div>
        <nav class="navbar mb-3">
            <div id="mainDiv" class="container-fluid">
                <div id="catalogDiv">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Goodmeal">
                        <img class="no-select no-drag" id="logo" src="~/icons/Logo.png" />
                    </a>
                    <div id="catalogSubDiv">
                        <a id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="no-select no-drag" id="categoriesLogo" src="~/icons/List.png" />
                            <span id="categoriesText">Каталог</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-fullscreen" aria-labelledby="navbarDropdownMenuLink">
                            <div class="category-list">
                                @* <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                src="~/icons/Fruit.png" />Фрукти</a> *@
                            </div>
                            <div id="categoryPanel">
                                @* <div class="categoryDivCard">
                                <div class="categorIconDiv"><img class="categortIcon" src="~/icons/Cart.png"/></div>
                                <div class="categorTextDiv"><span class="categoryText">Риба і М'ясо</span></div>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div id="searchDiv">
                    <img class="no-select no-drag" id="searchIcon" src="~/icons/Search.png" />
                    <input id="searchText" placeholder="Шукати..." />
                </div>
                <div id="headerDiv2">
                    <button id="profile" type="button">
                        <img class="no-select no-drag" id="profileIcon" src="~/icons/Person.png" />
                        <span id="accountName">Акаунт</span>
                    </button>
                </div>
                <div id="basketDiv">
                    <img class="no-select no-drag" id="basketIcon" src="~/icons/Cart.png" />
                    <span id="basketText">Кошик</span>
                </div>
            </div>
        </nav>
        <!-- Cart Popup -->
        <div id="emptyCartPopUp">
            <div class="titleDiv">
                <span class="titleCart">Кошик</span>
                <div id="cancelDiv">
                    <img id="cancel" class="cancelIcon" src="~/icons/CencelCartIcon.png" />
                </div>
            </div>
            <div class="emptyCartDiv">
                <div class="mainImgDiv">
                    <img class="emptyCartImg" src="/icons/EmptyBox.jpg" />
                </div>
                <div class="mainTextDiv">
                    <span class="subHeaderText">Ой, поки що тут пусто!</span>
                    <span class="subBodyText">Додай улюблені товари 🧡</span>
                </div>
            </div>
            <div class="recommendedProductsDiv">
                <div class="controllRecommendedProductsDiv">
                    <span>Рекомендовані товари</span>
                    <div class="recommendedProductsButtonsDiv">
                        <button id="recommendButtonPrev"> &lt; </button>
                        <button id="recommendButtonNext"> &gt; </button>
                    </div>
                </div>
                <div id="subRecommendedProductsDiv" class="carousel">
                    <div id="subRecommendedProducts" class="carousel-inner"></div>
                </div>
            </div>
        </div>
        <!-- Login Popup -->
        <div id="loginPopup" class="popup-container" style="display: none;">
            <div class="popup-left">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="header-title">Вхід</div>
                        <div class="social-login">
                            <div class="social-icon facebook">
                                <img src="~/icons/facebookIcon.png" alt="Facebook">
                            </div>
                            <div class="social-icon google">
                                <img src="~/icons/googleIcon.png" alt="Google">
                            </div>
                            <div class="social-icon apple">
                                <img src="~/icons/appleIcon.png" alt="Apple">
                            </div>
                        </div>
                        <div class="login-info">або використовуйте ваш емейл для входу</div>
                    </div>
                    <div class="login-form">
                        <div class="form-input">
                            <input type="email" id="loginEmail" placeholder="Емейл">
                        </div>
                        <div class="form-input">
                            <input type="password" id="loginPassword" placeholder="Пароль">
                        </div>
                    </div>
                    <button id="loginButton" class="login-button">Увійти</button>
                </div>
            </div>
            <div class="popup-right">
                <div class="popup-right-content">
                    <div class="greeting-title">Привіт!</div>
                    <div class="greeting-info">
                        Якщо у вас немає акаунту, зареєструйтесь натиснувши на кнопку
                    </div>
                    <button id="showRegister" class="register-buttonLogin">Зареєструватись</button>
                </div>
            </div>
        </div>

        <!-- Register Popup -->
        <div id="registerPopup" class="popup-container" style="display: none;">
            <div class="popup-left">
                <div class="popup-content">
                    <div class="popup-header">
                        <div class="header-title">Реєстрація</div>
                        <div class="social-login">
                            <div class="social-icon facebook">
                                <img src="~/icons/facebookIcon.png" alt="Facebook">
                            </div>
                            <div class="social-icon google">
                                <img src="~/icons/googleIcon.png" alt="Google">
                            </div>
                            <div class="social-icon apple">
                                <img src="~/icons/appleIcon.png" alt="Apple">
                            </div>
                        </div>
                        <div class="login-info">або використовуйте ваш емейл для реєстрації</div>
                    </div>
                    <div class="login-form">
                        <div class="form-input">
                            <input type="text" id="registerName" placeholder="Імʼя">
                        </div>
                        <div class="form-input">
                            <input type="email" id="registerEmail" placeholder="Емейл">
                        </div>
                        <div class="form-input">
                            <input type="password" id="registerPassword" placeholder="Пароль">
                        </div>
                    </div>
                    <button id="registerButton" class="login-button">Зареєструватись</button>
                    <p id="registerMessage" class="error-message" style="color: red; margin-top: 10px; display: none;">
                    </p>
                </div>
            </div>
            <div class="popup-right">
                <div class="popup-right-content">
                    <div class="greeting-title">З Поверненням!</div>
                    <div class="greeting-info">
                        Якщо у вас вже є акаунт, увійдіть натиснувши на кнопку
                    </div>
                    <button id="showLogin" class="register-buttonLogin">Увійти</button>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="footer">
            <div id="infoDiv">
                <div class="columnDiv">
                    <span class="headerSpan">Онлайн супермаркет</span>
                    <span class="bodySpan">Замовлення</span>
                    <span class="bodySpan">Формування замовлення</span>
                    <span class="bodySpan">Отримання замовлення</span>
                    <span class="bodySpan">Зміни у замовленні</span>
                    <span class="bodySpan">Правила інтернет- продажів</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Для гостей</span>
                    <span class="bodySpan">Про “Власний рахунок”</span>
                    <span class="bodySpan">Супермаркети</span>
                    <span class="bodySpan">Події</span>
                    <span class="bodySpan">Подарункові сертифікати</span>
                    <span class="bodySpan">Доставка для бізнесу</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Цікавинки</span>
                    <span class="bodySpan">Екодружність</span>
                    <span class="bodySpan">Соціальна турбота</span>
                    <span class="bodySpan">Фермерська продукція</span>
                    <span class="bodySpan">Власна кондитерська</span>
                    <span class="bodySpan">“Наша марка”</span>
                    <span class="bodySpan">Друзі “Goodmeal”</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Про компанію</span>
                    <span class="bodySpan">Робота в “Good meal”</span>
                    <span class="bodySpan">Новини</span>
                    <span class="bodySpan">Контакти</span>
                    <span class="bodySpan">Правила безпеки</span>
                    <span class="bodySpan">Правила інтернет- продажів</span>
                </div>
            </div>
            <div id="mainFooterDiv">
                <div id="contactsDiv" class="container-fluid">
                    <div id="mainContactsDiv" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Goodmeal">
                            <img id="logoFooter" class="no-select no-drag" src="~/icons/Logo.png" />
                        </a>
                        <div id="socialDiv">
                            <a role="button" href="https://www.facebook.com/">
                                <img class="socialIcons no-select no-drag" src="~/icons/Facebook.png" />
                            </a>
                            <a role="button" href="https://www.instagram.com/">
                                <img class="socialIcons no-select no-drag" src="~/icons/Instagram.png" />
                            </a>
                            <a role="button" href="https://www.viber.com/">
                                <img class="socialIcons no-select no-drag" src="~/icons/Viber.png" />
                            </a>
                            <a role="button" href="https://web.telegram.org/">
                                <img class="socialIcons no-select no-drag" src="~/icons/Telegram.png" />
                            </a>
                        </div>
                    </div>
                    <div id="communicationDiv">
                        <div id="communicationSubDiv1">
                            <div class="communicationTextDiv">
                                <span class="communicationMainText">Гаряча лінія у межах України</span>
                            </div>
                            <div class="communicationPhoneDiv">
                                <img class="communicationIcon no-select no-drag" src="~/icons/Phone.png" />
                                <span class="communicationText">0800 301 707</span>
                            </div>
                            <div class="communicationIconDiv">
                                <img class="communicationIcon no-select no-drag" src="~/icons/Clock.png" />
                                <span class="communicationText">7.00-23.00</span>
                            </div>
                        </div>
                        <div id="communicationSubDiv2">
                            <div class="communicationTextDiv">
                                <span class="communicationMainText">Для дзвінків з-за кордону</span>
                            </div>
                            <div class="communicationPhoneDiv">
                                <img class="communicationIcon no-select no-drag" src="~/icons/Phone.png" />
                                <span class="communicationText"> 0800 301 707</span>
                            </div>
                            <div class="communicationIconDiv">
                                <img class="communicationIcon no-select no-drag" src="~/icons/Clock.png" />
                                <span class="communicationText">7.00-23.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="privacyDiv">
                    <div id="privacyTextDiv">
                        <span id="copyrightText"><sup>©</sup><b>Goodmeal</b>, 2024. Всі права захищено</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
