<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div id="mainDiv" class="container-fluid">
                <div id="headerDiv1" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="catalogDiv">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img id="logo" src="~/icons/Logo.png" />
                        </a>
                        <div>
                            <a id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img id="categoriesLogo" src="~/icons/List.png"/>
                                <span id="categoriesText">Каталог</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-fullscreen" aria-labelledby="navbarDropdownMenuLink">
                                <div class="category-list">
                                    <a class="dropdown-item category-item" href="#">Category 1</a>
                                    <a class="dropdown-item category-item" href="#">Category 2</a>
                                    <a class="dropdown-item category-item" href="#">Category 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="searchDiv">
                        <img id="searchIcon" src="~/icons/Search.png" />
                        <input id="searchText" placeholder="Шукати..." />
                    </div>
                </div>
                <div id="headerDiv2" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="deliveryDiv">
                        <img id="deliveryIcon" src="~/icons/Delivery.png" />
                        <input id="deliveryText" placeholder="Введіть адресу доставки" />
                    </div>
                    <button id="profile" type="button"><img id="profileIcon" src="~/icons/Person.png" /></button>
                    <div id="basketDiv">
                        <img id="basketIcon" src="~/icons/Cart.png" />
                        <span id="basketText">Кошик</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FrontEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
