<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/popUpStyles/loginRegisterPopUp.css" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div id="overlay"></div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div id="mainDiv" class="container-fluid">
                <div id="headerDiv1" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="catalogDiv">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Goodmeal">
                            <img id="logo" src="~/icons/Logo.png" />
                        </a>
                        <div>
                            <a id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img id="categoriesLogo" src="~/icons/List.png" />
                                <span id="categoriesText">Каталог</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-fullscreen"
                                aria-labelledby="navbarDropdownMenuLink">
                                <div class="category-list">
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Fruit.png" />Фрукти</a>
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Vegetables.png" />Овочі</a>
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Fish.png" />Риба</a>
                                    <a class="dropdown-item category-item" href="#"><img class="miniCategoryIcon"
                                            src="~/icons/Meat.png" />М'ясо</a>
                                </div>
                            </div>
                            <div id="categoryPanel"></div>
                        </div>
                    </div>
                    <div id="searchDiv">
                        <img id="searchIcon" src="~/icons/Search.png" />
                        <input id="searchText" placeholder="Шукати..." />
                    </div>
                </div>
                <div id="headerDiv2" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div id="deliveryDiv">
                        <img id="deliveryIcon" src="~/icons/Delivery.png" />
                        <input id="deliveryText" placeholder="Введіть адресу доставки" />
                    </div>
                    <button id="profile" type="button"><img id="profileIcon" src="~/icons/Person.png" /></button>
                    
                </div>
                <div id="basketDiv">
                    <img id="basketIcon" src="~/icons/Cart.png" />
                    <span id="basketText">Кошик</span>
                </div>
            </div>
        </nav>
        <div id="loginPopup" class="popup">
            <button id="closePopup" class="close-btn">&times;</button>
            <div id="loginForm" class="form-layout">
                <h2>Увійти</h2>
                <form>
                    <label for="username">Логін</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Увійти</button>
                </form>
                <p>У вас немає акаунту? <a href="#" id="showRegister">Зареєструватися</a></p>
            </div>
            <div id="registerForm" class="form-layout" style="display: none;">
                <h2>Реєстрація</h2>
                <form>
                    <label for="email">Емейл</label>
                    <input type="email" id="email" name="email" required>
                    <label for="usernameReg">Логін</label>
                    <input type="text" id="usernameReg" name="usernameReg" required>
                    <label for="passwordReg">Пароль</label>
                    <input type="password" id="passwordReg" name="passwordReg" required>
                    <button type="submit">Зареєструватися</button>
                </form>
                <p>Вже є акаунт? <a href="#" id="showLogin">Увійти</a></p>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="footer">
            <div id="infoDiv">
                <div class="columnDiv">
                    <span class="headerSpan">Онлайн супермаркет</span>
                    <span class="bodySpan">Замовлення</span>
                    <span class="bodySpan">Формування замовлення</span>
                    <span class="bodySpan">Отримання замовлення</span>
                    <span class="bodySpan">Зміни у замовленні</span>
                    <span class="bodySpan">Правила інтернет- продажів</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Для гостей</span>
                    <span class="bodySpan">Про “Власний рахунок”</span>
                    <span class="bodySpan">Супермаркети</span>
                    <span class="bodySpan">Події</span>
                    <span class="bodySpan">Подарункові сертифікати</span>
                    <span class="bodySpan">Доставка для бізнесу</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Цікавинки</span>
                    <span class="bodySpan">Екодружність</span>
                    <span class="bodySpan">Соціальна турбота</span>
                    <span class="bodySpan">Фермерська продукція</span>
                    <span class="bodySpan">Власна кондитерська</span>
                    <span class="bodySpan">“Наша марка”</span>
                    <span class="bodySpan">Друзі “Goodmeal”</span>
                </div>
                <div class="columnDiv">
                    <span class="headerSpan">Про компанію</span>
                    <span class="bodySpan">Робота в “Good meal”</span>
                    <span class="bodySpan">Новини</span>
                    <span class="bodySpan">Контакти</span>
                    <span class="bodySpan">Правила безпеки</span>
                    <span class="bodySpan">Правила інтернет- продажів</span>
                </div>
            </div>
            <div id="mainFooterDiv">
                <div id="contactsDiv" class="container-fluid">
                    <div id="mainContactsDiv" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Goodmeal">
                            <img id="logoFooter" src="~/icons/Logo.png" />
                        </a>
                        <div id="socialDiv">
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Facebook.png" />
                            </a>
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Instagram.png" />
                            </a>
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Viber.png" />
                            </a>
                            <a role="button">
                                <img class="socialIcons" src="~/icons/Telegram.png" />
                            </a>
                        </div>
                    </div>
                    <div id="communicationDiv">
                        <div id="communicationSubDiv1">
                            <div class="communicationTextDiv">
                                <span class="communicationMainText">Гаряча лінія у межах України</span>
                            </div>
                            <div class="communicationPhoneDiv">
                                <img class="communicationIcon" src="~/icons/Phone.png" />
                                <span class="communicationText">0800 301 707</span>
                            </div>
                            <div class="communicationIconDiv">
                                <img class="communicationIcon" src="~/icons/Clock.png" />
                                <span class="communicationText">7.00-23.00</span>
                            </div>
                        </div>
                        <div id="communicationSubDiv2">
                            <div class="communicationTextDiv">
                                <span class="communicationMainText">Для дзвінків з-за кордону</span>
                            </div>
                            <div class="communicationPhoneDiv">
                                <img class="communicationIcon" src="~/icons/Phone.png" />
                                <span class="communicationText"> 0800 301 707</span>
                            </div>
                            <div class="communicationIconDiv">
                                <img class="communicationIcon" src="~/icons/Clock.png" />
                                <span class="communicationText">7.00-23.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="privacyDiv">
                    <div id="privacyTextDiv">
                        <img id="copyrightIcon" src="~/icons/Copyright.png" />
                        <span id="copyrightText"><b>Goodmeal</b>, 2024. Всі права захищено</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
