################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SilpoCloneDiploma/v17/.wsuo
/.vs/slnx.sqlite
/.vs/SilpoCloneDiploma
*.vsidx
