# Ignore specific files and directories
.classpath
.dockerignore
.env
.git/
.project
.settings
.toolstarget
.vs/
.vscode/
*.dbmdl
*.jfm
azds.yaml
secrets.dev.yaml
values.dev.yaml
node_modules/
npm-debug.log

# Ignore build artifacts
bin/
obj/
charts/
docker-compose*
Dockerfile*

# IDE and editor project files
*.user
*.dbmdl

# Do not ignore .gitignore and main git configurations
!.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

# License and documentation
LICENSE
README.md
