@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        #loading-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.5s;
        }

        .logo {
            width: 571px;
            height: auto; 
            opacity: 1;
        }
    </style>
</head>
<body>
    <div id="loading-logo">
        <img src="~/Admin_Image/Index logo.png" alt="Logo" class="logo" />
    </div>

    <script>
        // Функція перевірки токена
        function checkToken() {
            const token = localStorage.getItem('token'); // Отримуємо токен з локального сховища

            // Якщо токен є, переходимо на сторінку адміністратора
            if (token) {
                window.location.href = '/Admin/General';
            } else {
                // Інакше переходимо на сторінку реєстрації
                window.location.href = '/Admin/General';
            }
        }

        // Логіка анімації логотипа
        const loadingLogo = document.getElementById('loading-logo');
        loadingLogo.style.display = 'block';

        setTimeout(() => {
            loadingLogo.style.opacity = '0'; // Зменшуємо прозорість логотипа
            setTimeout(() => {
                loadingLogo.style.display = 'none'; // Приховуємо логотип
                checkToken(); // Викликаємо функцію перевірки токена
            }, 500); // Затримка перед приховуванням логотипа
        }, 2000); // Час очікування перед зменшенням прозорості
    </script>
</body>
</html>
