@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="content">
        <div class="admin-info">
    <h1>Тут може бути ваша реклама !!!</h1>
</div>
</div>
</div>
