@{
    ViewData["Title"] = "Category Page";
    var categoryId = ViewBag.CategoryId;
    var sortMode = ViewBag.SortMode;
}
<link rel="stylesheet" href="~/css/pagesStyles/categoryPage.css" asp-append-version="true" />
<div class="mainCategoryDiv">
    <div class="topOrange"></div>
    <input type="hidden" id="categoryId" value="@categoryId">
    @if (!string.IsNullOrEmpty(sortMode))
    {
        <input type="hidden" id="sortMode" value="@sortMode">
    }
    <div class="mainItemsDiv">
        <div class="breadcrumb">
            <a class="breadcrumbLink" href="/">Головна</a>
            <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
            <a id="productMainCategory" class="breadcrumbLink" href="#"></a>
            <img style="display:none" id="productSubCategoryArrow" class="breadcrumbArrow" src="/icons/Arrow(right).png">
            <span style="display:none" id="productSubCategory" class="breadcrumbLink">Всі</span>
        </div>
        <div class="subItemsDiv">
            <div class="controlItemsDis">
                <div id="categoryNameDiv"></div>
                @* <div class="controlSubCategoriesDis">
                    <button class="subCategory">
                        <span id="subCategoryNameText">Фрукти</span>
                        <span id="subCategoryCount">30</span>
                    </button>
                    <button class="subCategory">
                        <span id="subCategoryNameText">Фрукти</span>
                        <span id="subCategoryCount">30</span>
                    </button>
                    <button class="subCategory">
                        <span id="subCategoryNameText">Фрукти</span>
                        <span id="subCategoryCount">30</span>
                    </button>
                </div> *@
            </div>

            <div class="itemsDiv">
                <div class="filterItemsDiv">
                    <div class="filtered">
                        <img id="filterButton" class="no-select no-drag" type="button" style="width:20px;" src="~/icons/Filter.png" />
                        <span class="sortFilterText">Фільтри</span>
                    </div>
                    <div class="sorted">
                        <span class="sortFilterText" id="sortText">Сортувати</span>
                        <img type="button" class="dropdown-toggle no-caret no-select no-drag" data-bs-toggle="dropdown" style="width:20px;" src="~/icons/Sort.png" />
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item sortName" id="popular">Спочатку популярні</a></li>
                            <li><a class="dropdown-item sortName" id="promotions">Спочатку акційні</a></li>
                            <li><a class="dropdown-item sortName" id="rating">За рейтингом</a></li>
                            <li><a class="dropdown-item sortName" id="alphabetically">Від А до Я</a></li>
                            <li><a class="dropdown-item sortName" id="reverseAlphabetically">Від Я до А</a></li>
                            <li><a class="dropdown-item sortName" id="cheap">Спочатку дешевші</a></li>
                            <li><a class="dropdown-item sortName" id="expensive">Спочатку дорожчі</a></li>
                        </ul>
                    </div>
                </div>
                <div id="subProductsDiv">

                </div>
            </div>
        </div>
    </div>
    <div id="paginationDiv">
        <button class="moreItemsDiv" id="moreItems">Показати ще</button>
        <div id="pagesControlDiv">
            <button class="pageControlButtons" id="buttonPrev"><</button>
            <div class="pages">
                @* <button class="pageButton">1</button>
                <button class="pageButton">2</button>
                <button class="pageButton">3</button>
                <button class="selectorButtonRight">...</button>
                <button class="lastPageButton">14</button>*@
            </div>
            <button class="pageControlButtons" id="buttonNext">></button>
        </div>
    </div>
</div>

<!-- Filter Popup -->
<div id="filterOverlay"></div>
<div id="filterPopUp">
    <div class="titleFilterDiv">
        <span class="titleFilter">Фільтри</span>
        <div id="cancelDiv">
            <img id="cancelFilter" class="cancelIcon" src="~/icons/CencelCartIcon.png" />
        </div>
    </div>
    <div class="selectedFiltersDiv">
        <div class="selectedFiltersTitleDiv">
            <span class="selectedTitleFilter">Ви обрали</span>
            <span id="clearAllFilters">Очистити все</span>
        </div>
        <div id="selectedFiltersList">
            @* <div class="selectedFilter">
                <span class="selectedFilterText">Нові Акції</span>
                <span class="selectedFilterDelete">x</span>
            </div>
            <div class="selectedFilter">
                <span class="selectedFilterText">Домінікана</span>
                <span class="selectedFilterDelete">x</span>
            </div>
            <div class="selectedFilter">
                <span class="selectedFilterText">Домініканська Республіка</span>
                <span class="selectedFilterDelete">x</span>
            </div>
            <div class="selectedFilter">
                <span class="selectedFilterText">Гвіней</span>
                <span class="selectedFilterDelete">x</span>
            </div> *@
        </div>
    </div>
    <div class="accordion">
        <div class="firstFilterDiv filter">
            <div class="infoTitleDiv no-select no-drag" onclick="toggleDropdown('sale')">
                <div class="firstInfoSubTitleDiv">
                    <img class="firstTitleDivIcon no-select no-drag" src="~/icons/Discount.png" />
                    <span>Акційні пропозиції</span>
                </div>
                <img class="ArrowHorisontalImg no-drag" src="/icons/ArrowHorisontalBlack.png" />
            </div>
            <div id="sale" class="info-section-content">
                <div class="checkboxesMainDiv">
                    <label class="checkboxContainer">
                        <span class="filterName">Нові Акції</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <span class="filterCount">13</span>
                    </label>
                    <label class="checkboxContainer">
                        <span class="filterName">Новорічні пропозиції</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <span class="filterCount">38</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filterDiv filter">
            <div class="infoTitleDiv no-select no-drag" onclick="toggleDropdown('tradeMark')">
                <span>Торгова марка</span>
                <img class="ArrowHorisontalImg no-drag" src="/icons/ArrowHorisontalBlack.png" />
            </div>
            <div id="tradeMark" class="info-section-content">
                @* <label class="checkboxContainer">
                    <span class="filterName">Домінікана</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">10</span>
                </label>
                <label class="checkboxContainer">
                    <span class="filterName">Мадейрус</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">12</span>
                </label>
                <label class="checkboxContainer">
                    <span class="filterName">Гвіней</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">16</span>
                </label>
                <label class="checkboxContainer">
                    <span class="filterName">Каірн</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">8</span>
                </label> *@
            </div>
        </div>
        <div class="filterDiv filter">
            <div class="infoTitleDiv no-select no-drag" onclick="toggleDropdown('country')">
                <span>Країна</span>
                <img class="ArrowHorisontalImg no-drag" src="/icons/ArrowHorisontalBlack.png" />
            </div>
            <div id="country" class="info-section-content">
                @* <label class="checkboxContainer">
                    <span class="filterName">Домініканська Республіка</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">10</span>
                </label>
                <label class="checkboxContainer">
                    <span class="filterName">Італія</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">20</span>
                </label>
                <label class="checkboxContainer">
                    <span class="filterName">Іспанія</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">10</span>
                </label> *@
            </div>
        </div>
        <div class="filterDiv filter">
            <div class="infoTitleDiv no-select no-drag" onclick="toggleDropdown('priceFilter')">
                <span>Ціна</span>
                <img class="ArrowHorisontalImg no-drag" src="/icons/ArrowHorisontalBlack.png" />
            </div>
            <div id="priceFilter" class="info-section-content">
                @* <label class="checkboxContainer">
                    
                </label> *@
                <label class="range-slider">
                    <label class="range">
                        <input type="range" class="min-price" value="10" min="10" max="4000" />
                        <input type="range" class="max-price" value="4000" min="10" max="4000" />
                        <label class="slider">
                            <label class="progress"></label>
                        </label>
                    </label>
                    <label class="priceInputs">
                        <label>
                            <span>Від</span>
                            <input type="number" class="min-input" value="10" min="10" max="4000" />
                        </label>
                        <label>
                            <span>До</span>
                            <input type="number" class="max-input" value="4000" min="10" max="4000" />
                        </label>               
                    </label>
                </label>
            </div>
        </div>
        <div class="filterDiv filter">
            <div class="infoTitleDiv no-select no-drag" onclick="toggleDropdown('special')">
                <span>Особливі</span>
                <img class="ArrowHorisontalImg no-drag" src="/icons/ArrowHorisontalBlack.png" />
            </div>
            <div id="special" class="info-section-content">
                <label class="checkboxContainer">
                    <span class="filterName">"Власне виробництво"</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">35</span>
                </label>
                <label class="checkboxContainer">
                    <span class="filterName">Партнери</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="filterCount">50</span>
                </label>
            </div>
        </div>
    </div>
    <div class="buttonFilterDiv">
        <button class="submitFiltersButton">Показати товари по фільтрам: <span id="selectedItems">0</span></button>
    </div>
</div>

<script src="/js/pagesScripts/categoryPage.js" asp-append-version="true"></script>
