@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="@Url.Content("~/css/pagesStyles/mainPage.css")" />

<div class="container">
    <main role="main" class="pb-3">
        <div id="logoDiv">
            <img class="rot" src="~/icons/carots.png" width="300" height="300"/>
        </div>
    </main>
</div>

