@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/pagesStyles/productPage.css" asp-append-version="true" />

<div class="content">
    <div class="breadcrumb">
        <a class="breadcrumbLink" href="#">Головна</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a class="breadcrumbLink" href="#">Фрукти</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a class="breadcrumbLink" href="#">Всі</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a class="breadcrumbLink" href="#">Папайя</a>
    </div>
    <div class="full-width-orange">
        <div id="leftVector"><img class="no-select no-drag" src="~/icons/LeftVector.png" /></div>
        <div class="photosDiv">
            <img class="discountIconMainImg no-select no-drag" src="~/icons/Discount.png" />
            <div class="photo large">
                <img src="/icons/papaya.png" />
            </div>
            <div class="small-row">
                <div class="photo small">
                    <img src="/icons/papaya.png" />
                </div>
                <div class="photo small">
                    <img src="/icons/papaya.png" />
                </div>
                <div class="photo small">
                    <img src="/icons/papaya.png" />
                </div>
            </div>
        </div>

        <div class="content-info">
            <div class="subInfoDiv">
                <div class="name">Папайя 100г</div>
                <div class="rating"><img class="no-select no-drag" src="/icons/RatingStar.png" />4.90 <img class="no-select no-drag" src="/icons/Point.png" /> 12 оцінок</div>
                <div class="accordion">
                    <div class="descriptionTitleDiv no-select no-drag" onclick="toggleDropdownDescription()">
                        <span>Опис</span>
                        <img class="ArrowHorisontalImg no-drag rotated" src="/icons/ArrowHorisontal.png" />
                    </div>
                    <div class="description active">
                        <span id="descriptionInfo">
                            Має тверду шкірку і жовто-зелений колір. Плід м’який, з легким солодкуватим смаком та ароматом дині.
                            Рекомендуємо їсти свіжою, разом з лаймом.
                        </span>
                    </div>
                </div>
                <div class="accordion">
                    <div class="infoTitleDiv no-select no-drag" onclick="toggleDropdown()">
                        <span>Загальна інформація</span>
                        <img class="ArrowHorisontalImg no-drag" src="/icons/ArrowHorisontal.png" />
                    </div>
                    <div class="info-section-content">
                        <div class="attributeDivs">
                            <div class="attribute">
                                <span>Країна:</span>
                                <span>Іспанія</span>
                            </div>
                            <div class="attribute">
                                <span>Торгова марка:</span>
                                <span>Без ТМ</span>
                            </div>
                            <div class="attribute">
                                <span>Кількість одиниць:</span>
                                <span>1</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subControllDiv">
                    <div class="price">18.90 грн</div>
                    <div class="priceNoDiscount">
                        <span class="oldPrice">20.90 грн</span>
                        <div class="discountPercentage">15%</div>
                    </div>
                    <div class="cartControllDiv">
                        <div class="productCountControlls">
                            <button class="minusProduct no-select"><span class="minusIcon">-</span></button>
                            <div class="quantity">1</div>
                            <button class="plusProduct no-select"><span class="plusIcon">+</span></button>
                        </div>
                        <div id="addToCart" class="addToCart">
                            <img class="сartIcon no-select no-drag" src="~/icons/Cart.png" />
                            <span class="addToCartText">Додати в кошик</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div id="rightVector"><img class="no-select no-drag" src="~/icons/RightVector.png" /></div>
    </div>

    <div id="mainProductsDiv">
        <div id="productsDiv">
            <div id="mainProductsTagText">Схожі товари</div>
            <div id="productsCarousel" class="carousel">
                <div id="subProductsDiv" class="carousel-inner"></div>
            </div>
            <div id="pagesDiv">
                <button class="carouselControlPrev"><img src="/icons/Arrow(left).png" /></button>
                <button class="carouselControlNext"><img src="/icons/Arrow(right).png" /></button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/pagesScripts/productPage.js"></script>
