@{
    ViewData["Title"] = "Home Page";
    var productId = ViewBag.ProductId;
}
<link rel="stylesheet" href="~/css/pagesStyles/productPage.css" asp-append-version="true" />

<div class="content">
    <div id="overlay"></div>
    <input type="hidden" id="productId" value="@productId">
    <div class="breadcrumb">
        <a class="breadcrumbLink" href="/">Головна</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        @*Db info*@
        <a class="breadcrumbLink" href="#">Фрукти</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a class="breadcrumbLink" href="#">Всі</a> 
        @*Db info*@
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a id="productRouteName" class="breadcrumbLink">Папайя</a>
    </div>
    <div class="full-width-orange">
        <div id="leftVector"><img class="no-select no-drag leftVectorImg" src="~/icons/LeftVector.png" /></div>
        <div class="photosDiv">
            @*<img class="discountIconMainImg no-select no-drag" src="~/icons/Discount.png" /> *@
            <div class="photo large">
                <div id="largeSubDiv">
                    <button id="buttonPrev"><</button>
                    <img class="productPhoto largePhoto" id="productMainImg"@*  src="/icons/papaya.png" *@ />
                    <button id="buttonNext">></button>
                </div>
            </div>
            <div class="small-row">
                @* <div class="photo small">
                    <img class="productPhoto smallPhoto" id="productSmallImg1" src="/icons/papaya.png" />
                </div> *@
            </div>
        </div>

        <div class="content-info">
            <div class="subInfoDiv">
                <div id="productTitle" class="name"></div>
                <div id="rating"><img class="no-select no-drag ratingStar" src="/icons/RatingStar.png" /><span id="ratingScore">4.90</span> <img class="no-select no-drag" src="/icons/Point.png" /> 12 оцінок</div>
                <div class="accordion">
                    <div class="descriptionTitleDiv no-select no-drag" onclick="toggleDropdownDescription()">
                        <span>Опис</span>
                        <img class="ArrowHorisontalImg no-drag rotated" src="/icons/ArrowHorisontal.png" />
                    </div>
                    <div class="description active">
                        <span id="descriptionInfo">
                        </span>
                    </div>
                </div>
                <div class="accordion">
                    <div class="infoTitleDiv no-select no-drag" onclick="toggleDropdown()">
                        <span>Загальна інформація</span>
                        <img class="ArrowHorisontalImg no-drag" src="/icons/ArrowHorisontal.png" />
                    </div>
                    <div class="info-section-content">
                        <div id="attributes" class="attributeDivs">
                            @* <div class="attribute">
                                <span>Країна:</span>
                                <span>Іспанія</span>
                            </div>
                            <div class="attribute">
                                <span>Торгова марка:</span>
                                <span>Без ТМ</span>
                            </div>
                            <div class="attribute">
                                <span>Кількість одиниць:</span>
                                <span>1</span>
                            </div> *@
                        </div>
                    </div>
                </div>
                <div class="subControllDiv">
                    <div id="productPrice" class="price"></div>
                    <div id="priceNoDiscountDiv" class="priceNoDiscount">
                        @* <span id="productOldPrice" class="oldPrice">20.90 грн</span>
                        <div class="discountPercentage"><span id="percentage">15%</span></div> *@
                    </div>
                    <div class="cartControllDiv">
                        <div class="productCountControlls">
                            <button class="minusProduct no-select"><span class="minusIcon">-</span></button>
                            <div class="quantity">1</div>
                            <button class="plusProduct no-select"><span class="plusIcon">+</span></button>
                        </div>
                        <div id="addToCart" class="addToCart">
                            <img class="сartIcon no-select no-drag" src="~/icons/Cart.png" />
                            <span class="addToCartText">Додати в кошик</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div id="rightVector"><img class="no-select no-drag" src="~/icons/RightVector.png" /></div>
    </div>

    <div id="mainProductsDiv">
        <div id="productsDiv">
            <div id="mainProductsTagText">Схожі товари</div>
            <div id="productsCarousel" class="carousel">
                <div id="subProductsDiv" class="carousel-inner"></div>
            </div>
            <div id="pagesDiv">
                <button class="carouselControlPrev" type="button"><img src="/icons/Arrow(left).png" /></button>
                <button class="carouselControlNext" type="button"><img src="/icons/Arrow(right).png" /></button>
            </div>
        </div>
    </div>

    <!-- Cart Popup -->
    <div id="ratingOverlay"></div>
    <div id="ratingPopUp">
        <div class="titleRatingDiv">
            <span class="titleRating">Оцініть товар 🤩</span>
            <div id="cancelDiv">
                <img id="cancelRating" class="cancelIcon" src="~/icons/CencelCartIcon.png" />
            </div>
        </div>
        <div class="ratingPopUpSubDiv">
            <span id="ratingPopUpScore">4.90</span>
            <span id="ratingPopUpVotes">12 оцінок</span>
        </div>
        <div class="infoRatingDiv">
            Якщо ваша думка зміниться, згодом зможете переоцінити 🌟
        </div>
        <div id="mainRatingStarsDiv">
            <div id="ratingStarsDiv">
                <img id="1star" class="setRatingStar no-select no-drag" src="/icons/SetRatingStar.png" alt="1 star">
                <img id="2star" class="setRatingStar no-select no-drag" src="/icons/SetRatingStar.png" alt="2 stars">
                <img id="3star" class="setRatingStar no-select no-drag" src="/icons/SetRatingStar.png" alt="3 stars">
                <img id="4star" class="setRatingStar no-select no-drag" src="/icons/SetRatingStar.png" alt="4 stars">
                <img id="5star" class="setRatingStar no-select no-drag" src="/icons/SetRatingStar.png" alt="5 stars">
            </div>
        </div>
        <div class="setRatingDiv">
            <button class="setRatingBtn" type="button">Оцінити</button>
        </div>
    </div>
</div>
<script src="~/js/pagesScripts/productPage.js"></script>
