@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/pagesStyles/productPage.css" asp-append-version="true" />

<div class="content">
    <div class="breadcrumb">
        <a class="breadcrumbLink" href="#">Головна</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a class="breadcrumbLink" href="#">Фрукти</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a class="breadcrumbLink" href="#">Всі</a> 
        <img class="breadcrumbArrow" src="/icons/Arrow(right).png">
        <a class="breadcrumbLink" href="#">Папайя</a>
    </div>
    <div class="full-width-orange">
        <div class="content-inner">
            <div class="photos">
                <div class="photo large">
                    <img src="/icons/papaya.png" />
                </div>
                <div class="small-row">
                    <div class="photo small">
                        <img src="/icons/papaya.png" />
                    </div>
                    <div class="photo small">
                        <img src="/icons/papaya.png" />
                    </div>
                    <div class="photo small">
                        <img src="/icons/papaya.png" />
                    </div>
                </div>
            </div>

            <div class="content-info">
                <div class="name">Папайя 100г</div>
                <div class="description description-visible">
                    <h3>Опис</h3>
                    Має тверду шкірку і жовто-зелений колір. Плід м’який, з легким солодкуватим смаком та ароматом дині.
                    Рекомендуємо їсти свіжою, разом з лаймом.
                </div>
                <div class="info-section">
                    <div class="info-section-title" onclick="toggleDropdown()">Загальна інформація </div>
                    <div class="info-section-content">
                        <p><span>Країна:</span> <span>Іспанія</span></p>
                        <p><span>Торгова марка:</span> <span>Без ТМ</span></p>
                        <p><span>Кількість одиниць:</span> <span>1</span></p>
                    </div>
                </div>

                <div class="price">18.90 грн</div>
                <div class="quantity-cart-row">
                    <div class="quantity-selector">
                        <button class="plus">+</button>
                        <div class="quantity">1</div>
                        <button class="minus">-</button>
                    </div>
                    <div class="add-to-cart">Додати в кошик</div>
                </div>
            </div>
        </div>
    </div>

    <div class="selectorDiv"></div>
    <div id="mainProductsDiv">
        <div id="mainProductsTagText">Схожі товари</div>
        <div id="subProductsDiv">
        </div>
    </div>

</div>
<script src="~/js/pagesScripts/productPage.js"></script>
