@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/pagesStyles/mainPage.css" asp-append-version="true" />
<style>
    .container {
        width: 873px;
        height: 724px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        margin: 0;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
    }

    .orderLabel {
        position: absolute;
        width: 871px;
        height: 64px;
        left: 0px;
        top: 45px;

        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        color: #1E1E1E;
        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
        margin-top: 5%;
        margin-left: 12%;

    }
</style>


<div class="content">
    <div class="orderLabel">Оформлення замовлення</div>
    <div class="Frame427318672"
        style="width: 1100px; margin-top: 10%; margin-left: 5%; height: 724px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">

        <div class="Frame427318651"
            style="align-self: stretch; height: 270px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 20px; display: flex">
            <div class="Frame427318647"
                style="align-self: stretch; padding-top: 16px; padding-bottom: 16px; padding-left: 28px; background: #4CAF50; border-radius: 36px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                <div
                    style="color: #FFFEFE; font-size: 18px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                    Адреса доставки</div>
            </div>
            <div class="Frame427318650"
                style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                <div class="Frame427318649"
                    style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                    <div>
                        <img src="~/icons/ion_location-outline.png"></img>
                    </div>
                    <div class="83a"
                        style="color: #1E1E1E; font-size: 16px; font-family: Noto Sans; font-weight: 400; word-wrap: break-word">
                        Львів, Замарстинівська вулиця, 83A</div>
                </div>
                <div class="TablerPencil"
                    style="width: 40px; height: 40px; padding: 8px; background: #FF5722; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: flex">
                    <img src="~/icons/tabler_pencil.png"></img>
                </div>
            </div>
            <div class="Frame427318648"
                style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                <input type="text" class="Promo" placeholder="Під’їзд"
                    style="flex: 1 1 0; height: 43px; padding: 12px 20px; background: #FFFEFE; border-radius: 8px; border: 1px #CBCBCB solid;">
                <input type="text" class="Promo" placeholder="Поверх"
                    style="flex: 1 1 0; height: 43px; padding: 12px 20px; background: #FFFEFE; border-radius: 8px; border: 1px #CBCBCB solid;">
                <input type="text" class="Promo" placeholder="Квартира"
                    style="flex: 1 1 0; height: 43px; padding: 12px 20px; background: #FFFEFE; border-radius: 8px; border: 1px #CBCBCB solid;">
            </div>
            <div class="Frame427318648"
                style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                <input id="courierComment" type="text" class="Promo" placeholder="Коментар для кур’єра"
                    oninput="updateCharacterCount()" maxlength="200"
                    style="flex: 1 1 0; height: 43px; padding: 12px 20px; background: #FFFEFE; border-radius: 8px; border: 1px #CBCBCB solid; color: #757575; font-size: 14px; font-family: Noto Sans; font-weight: 500;">
            </div>
            <div class="Frame427318652"
                style="padding-top: 4px; justify-content: flex-end; align-items: center; display: flex">
                <div id="characterCount" class="200"
                    style="text-align: right; color: #757575; font-size: 12px; font-family: Noto Sans; font-weight: 400;">
                    0/200
                </div>
            </div>
        </div>
        <div class="Frame427318660"
            style="align-self: stretch; height: 155px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
            <div class="Frame427318647"
                style="align-self: stretch; padding-top: 16px; padding-bottom: 16px; padding-left: 28px; background: #4CAF50; border-radius: 36px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                <div
                    style="color: #FFFEFE; font-size: 18px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                    Дата і час</div>
            </div>
            <div class="Frame427318659"
                style="align-self: stretch; height: 78px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                <div class="Frame427318649"
                    style="justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div
                        style="color: #1E1E1E; font-size: 16px; font-family: Noto Sans; font-weight: 400; word-wrap: break-word">
                        Виберіть час коли вам зручно було б отримати замовлення:</div>
                </div>
                <div class="Frame427318658"
                    style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex">
                    <div class="Frame427318654"
                        style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 36px; border: 1px #FF5722 solid; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                        <div class="IconoirDeliveryTruck"
                            style="width: 28px; height: 28px; padding-top: 7px; padding-bottom: 5.83px; padding-left: 1.17px; padding-right: 1.17px; justify-content: center; align-items: center; display: flex">
                            <div class="Group">
                                <img src="~/icons/iconoir_delivery-truck_selected.png"></img>
                            </div>
                        </div>
                        <div class="9001030"
                            style="color: #FF5722; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                            з 9:00 до 10:30
                        </div>
                    </div>
                    <div class="Frame427318655"
                        style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 36px; border: 1px #CBCBCB solid; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                        <div class="IconoirDeliveryTruck"
                            style="width: 28px; height: 28px; padding-top: 7px; padding-bottom: 5.83px; padding-left: 1.17px; padding-right: 1.17px; justify-content: center; align-items: center; display: flex">
                            <div class="Group">
                                <img src="~/icons/iconoir_delivery-truck.png"></img>
                            </div>
                        </div>
                        <div class="10301200"
                            style="color: #1E1E1E; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                            з 10:30 до 12:00</div>
                    </div>
                    <div class="Frame427318657"
                        style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 36px; border: 1px #CBCBCB solid; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                        <div class="IconoirDeliveryTruck"
                            style="width: 28px; height: 28px; padding-top: 7px; padding-bottom: 5.83px; padding-left: 1.17px; padding-right: 1.17px; justify-content: center; align-items: center; display: flex">
                            <div class="Group">
                                <img src="~/icons/iconoir_delivery-truck.png"></img>
                            </div>
                        </div>
                        <div class="12001330"
                            style="color: #1E1E1E; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                            з 12:00 до 13:30</div>
                    </div>
                    <div class="Frame427318656"
                        style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 36px; border: 1px #CBCBCB solid; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                        <div
                            style="color: #1E1E1E; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                            Інший час</div>
                        <div class="Frame427318657"
                            style="width: 28px; height: 28px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                            <img src="~/icons/DateCheckmark.png"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Frame427318671"
            style="align-self: stretch; height: 219px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
            <div class="Frame427318647"
                style="align-self: stretch; padding-top: 16px; padding-bottom: 16px; padding-left: 28px; background: #4CAF50; border-radius: 36px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                <div
                    style="color: #FFFEFE; font-size: 18px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                    Оплата</div>
            </div>
            <div class="Frame427318670"
                style="justify-content: flex-start; align-items: flex-start; gap: 132px; display: inline-flex">
                <div class="Frame427318669"
                    style="width: 315px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div class="Frame427318649"
                        style="width: 203px; padding-left: 28px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div
                            style="width: 92px; color: #1E1E1E; font-size: 16px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">
                            Онлайн</div>
                    </div>
                    <div class="Frame427318665"
                        style="align-self: stretch; height: 104px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                        <div class="Frame427318662"
                            style="align-self: stretch; padding-left: 20px; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                            <div class="RadioButton"
                                style="width: 24px; height: 24px; padding: 4px; border-radius: 24px; border: 2px #FF5722 solid; justify-content: center; align-items: center; gap: 8.12px; display: flex">
                                <div class="Ellipse4"
                                    style="width: 14px; height: 14px; background: #FF5722; border-radius: 9999px"></div>
                            </div>
                            <div class="Frame427318661"
                                style="width: 259px; align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                                <div class="ApplePay"
                                    style="width: 205px; color: #1E1E1E; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                                    Apple Pay</div>
                            </div>
                        </div>
                        <div class="Frame427318665"
                            style="align-self: stretch; padding-left: 20px; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                            <div class="RadioButton"
                                style="width: 24px; height: 24px; padding: 5px; box-shadow: 0px 1px 10px rgba(218, 80, 1, 0.20); border-radius: 16px; border: 2px #CBCBCB solid">
                            </div>
                            <div class="Frame427318661"
                                style="width: 259px; align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                                <div class="GogglePay"
                                    style="width: 205px; color: #1E1E1E; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                                    Goggle Pay </div>
                            </div>
                        </div>
                        <div class="Frame427318666"
                            style="align-self: stretch; padding-left: 20px; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                            <div class="RadioButton"
                                style="width: 24px; height: 24px; padding: 5px; box-shadow: 0px 1px 10px rgba(218, 80, 1, 0.20); border-radius: 16px; border: 2px #CBCBCB solid">
                            </div>
                            <div class="Frame427318661"
                                style="width: 259px; align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                                <div
                                    style="width: 205px; color: #1E1E1E; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                                    Оплата карткою</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Frame427318668"
                    style="width: 315px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div class="Frame427318666"
                        style="width: 203px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                        <div
                            style="width: 203px; color: #1E1E1E; font-size: 16px; font-family: Noto Sans; font-weight: 700; word-wrap: break-word">
                            При отриманні</div>
                    </div>
                    <div class="Frame427318667"
                        style="align-self: stretch; padding-left: 20px; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                        <div class="RadioButton"
                            style="width: 24px; height: 24px; padding: 5px; box-shadow: 0px 1px 10px rgba(218, 80, 1, 0.20); border-radius: 16px; border: 2px #CBCBCB solid">
                        </div>
                        <div class="Frame427318661"
                            style="width: 259px; align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                            <div
                                style="width: 205px; color: #1E1E1E; font-size: 14px; font-family: Noto Sans; font-weight: 600; word-wrap: break-word">
                                Карткою кур’єру</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function updateCharacterCount() {
        const input = document.getElementById('courierComment');
        const countDisplay = document.getElementById('characterCount');
        const currentLength = input.value.length;
        countDisplay.textContent = `${currentLength}/200`;
    }
</script>