@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/pagesStyles/mainPage.css" asp-append-version="true" />
<style>
    .cart-container {
        width: 874px;
        height: 785px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 28px;
    }

    .cart-header {
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 367px;
    }

    .cart-title {
        font-size: 40px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #1E1E1E;
    }

    .cart-clear {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .cart-icon {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .cart-clear-text {
        font-size: 14px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        color: #1E1E1E;
    }

    .free-delivery-message {
        width: 100%;
        padding: 16px 16px 16px 28px;
        background: #4CAF50;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .free-delivery-text {
        font-size: 18px;
        font-family: 'Noto Sans', sans-serif;
        color: white;
    }

    .free-delivery-bold {
        font-weight: 700;
    }

    .cart-items {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .cart-item {
        width: 100%;
        padding: 8px 32px;
        border-radius: 36px;
        border: 1px solid #CBCBCB;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .item-image {
        width: 50px;
        height: 50px;
    }

    .item-name {
        width: 203px;
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        color: #1E1E1E;
    }

    .item-quantity {
        display: flex;
        align-items: center;
        gap: 21px;
    }

    .item-price,
    .item-total {
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
        color: #1E1E1E;
        text-align: right;
        white-space: nowrap;
    }


    .item-price {
        font-weight: 400;
    }

    .item-total {
        font-weight: 600;
    }

    .quantity-control {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .quantity-button {
        width: 24px;
        height: 24px;
        padding: 6px;
        background: #FF5722;
        border-radius: 3.6px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 500;
    }

    .quantity-button * {
        color: inherit;
    }


    .quantity-text {
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #757575;
        text-align: center;
        white-space: nowrap;
    }

    .quantity-unit {
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #757575;
        margin-right: 8px;
        white-space: nowrap;
    }

    .remove-item {
        width: 91px;
        height: 26px;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .remove-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 10px;

        width: 91px;
        height: 26px;
        background: transparent;
        font-size: 16px;
        font-family: Noto Sans;
        color: #1E1E1E;
        text-align: center;
        line-height: 26px;
    }

    .Frame427318630 {
        width: 428px;
        height: 708px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 28px;
        display: inline-flex;
    }

    .Promo,
    .Certificate {
        align-self: stretch;
        height: 58px;
        padding: 16px 28px;
        background: #FF5722;
        border-radius: 36px;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;

    }

    .Promo {
        margin-top: 12.5%;
    }

    .PromoTitle,
    .CertificateTitle {
        width: 203px;
        color: #FFFEFE;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 700;
        word-wrap: break-word;
    }

    .PromoActions,
    .CertificateActions {
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        display: flex;
    }

    .ActionIcon {
        padding: 8px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        display: flex;
    }

    .Vector {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 10px;
        width: 32px;
        height: 32px;
        flex: none;
        order: 0;
        flex-grow: 0;

        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
    }

    .Vector {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px;
        gap: 10px;
        width: 32px;
        height: 32px;
        flex: none;
        order: 0;
        flex-grow: 0;

        background-color: transparent;
    }

    .Vector::before {
        content: "+";
        font-size: 24px;
        color: #fff;
        font-family: Noto Sans;
    }

    .ActionText {
        color: #FFFEFE;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 500;
        word-wrap: break-word;
    }

    .CertificateDetails {
        align-self: stretch;
        height: 536px;
        padding: 28px;
        border-radius: 36px;
        border: 3px #FF5722 solid;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        display: flex;
    }

    .Detail {
        align-self: stretch;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
    }

    .DetailLabel {
        width: 240px;
        color: #1E1E1E;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 400;
        word-wrap: break-word;
    }

    .DetailValue {
        text-align: right;
        color: #1E1E1E;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        word-wrap: break-word;
    }

    .DetailValue.total {
        font-size: 20px;
    }

    .AdditionalInfo {
        align-self: stretch;
        height: 313px;
        padding-top: 40px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 28px;
        display: flex;
    }

    .InfoContent {
        align-self: stretch;
        height: 199px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        display: flex;
    }

    .InfoTitle {
        align-self: stretch;
        height: 22px;
        color: #1E1E1E;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        word-wrap: break-word;
    }

    .InfoComment {
        align-self: stretch;
        padding: 20px;
        border-radius: 4px;
        border: 1px #CBCBCB solid;
        color: #757575;
        font-size: 14px;
        font-family: Noto Sans;
        font-weight: 400;
        word-wrap: break-word;
    }

    .PromoNext {
        align-self: stretch;
        padding: 12px;
        background: #FF5722;
        border-radius: 36px;
        border: 2px #FFFEFE solid;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
    }

    .NextText {
        width: 310px;
        height: 22px;
        text-align: center;
        color: #FFFEFE;
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 600;
        word-wrap: break-word;
    }

    .content {
        display: flex;
        gap: 28px;
    }

    .cart-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .certificate {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cart-header,
    .cart-items,
    .info-row,
    .comments-and-promo {
        margin-bottom: 20px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        min-height: 100vh;
        padding: 20px;
        box-sizing: border-box;
    }

    .cart-container,
    .certificate {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cart-header,
    .cart-items,
    .info-row,
    .comments-and-promo {
        margin-bottom: 20px;
    }
</style>


<div class="content">
    <div class="cart-container">
        <div class="cart-header">
            <div class="cart-title">Кошик</div>
            <div class="cart-clear">
                <div class="cart-icon">
                    <img src="~/icons/solar_cart-3-outline.png"></img>
                </div>
                <div class="cart-clear-text">Очистити кошик</div>
            </div>
        </div>

        <div class="cart-items">
            <div class="free-delivery-message">
                <div class="free-delivery-text">Безкоштовна доставка на суму від <span class="free-delivery-bold">1299
                        грн</span></div>
            </div>

            <div class="cart-item">
                <img class="item-image" src="https://via.placeholder.com/50x50" alt="Лимон" />
                <div class="item-name">Лимон</div>
                <div class="item-quantity">
                    <div class="quantity-unit">кг</div>
                    <div class="item-price">189,00 грн</div>
                    <div class="quantity-control">
                        <div class="quantity-button">+</div>
                        <div class="quantity-text">0.5 кг</div>
                        <div class="quantity-button">-</div>
                    </div>
                    <div class="item-total">35,00 грн</div>
                    <div class="remove-item">
                        <div class="remove-icon">X</div>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <img class="item-image" src="https://via.placeholder.com/50x50" alt="Ожина фасована" />
                <div class="item-name">Ожина фасована</div>
                <div class="item-quantity">
                    <div class="quantity-unit">250 г</div>
                    <div class="item-price">189,00 грн</div>
                    <div class="quantity-control">
                        <div class="quantity-button">+</div>
                        <div class="quantity-text">0.1</div>
                        <div class="quantity-button">-</div>
                    </div>
                    <div class="item-total">35,00 грн</div>
                    <div class="remove-item">
                        <div class="remove-icon">X</div>
                    </div>
                </div>
            </div>
            <div class="cart-item">
                <img class="item-image" src="https://via.placeholder.com/50x50" alt="Папайя" />
                <div class="item-name">Папайя</div>
                <div class="item-quantity">
                    <div class="quantity-unit">кг</div>
                    <div class="item-price">189,00 грн</div>
                    <div class="quantity-control">
                        <div class="quantity-button">+</div>
                        <div class="quantity-text">0.1 кг</div>
                        <div class="quantity-button">-</div>
                    </div>
                    <div class="item-total">35,00 грн</div>
                    <div class="remove-item">
                        <div class="remove-icon">X</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="selectorDiv"></div>
        <div id="mainProductsDiv">
            <span id="mainProductsTagText">Рекомендовані товари</span>
            <div id="subProductsDiv">
                <div class="cardDiv">
                    <div class="productIconDiv">
                        <img class="discountIcon" src="~/icons/Discount.png" />
                        <img class="productIcon" src="~/icons/ProductIcon.png" />
                    </div>
                    <div class="productInfoDiv">
                        <div class="productNameDiv">
                            <div class="productName">Сьомга Norven</div>
                            <div class="productFullName">Сьомга Norven слабосолена в/у, 120г</div>
                        </div>
                        <div class="priceDiv">
                            <div class="subPriceDiv"><b>256 </b><span>грн</span></div>
                            <div class="crossTextDiv">
                                <span>315 грн</span>
                            </div>
                        </div>
                        <div class="productControlDiv">
                            <div class="productCountDiv">
                                <button class="productCountButton plus"><img class="no-select no-drag"
                                        src="~/icons/PlusMiniIcon.png" /></button>
                                <div class="productCount">0</div>
                                <button class="productCountButton minus"><img class="no-select no-drag"
                                        src="~/icons/MinusMiniIcon.png" /></button>
                            </div>

                            <button class="productBuyDiv">
                                <img class="productCartIcon" src="~/icons/Cart.png" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Frame427318630">
        <div class="Promo">
            <div class="PromoTitle">Промокод</div>
            <div class="PromoActions">
                <div class="ActionIcon">
                    <div class="Vector"></div>
                </div>
                <div class="ActionText">Додати</div>
            </div>
        </div>
        <div class="Certificate">
            <div class="CertificateTitle">Сертифікат</div>
            <div class="CertificateActions">
                <div class="ActionIcon">
                    <div class="Vector"></div>
                </div>
                <div class="ActionText">Додати</div>
            </div>
        </div>
        <div class="CertificateDetails">
            <div class="Detail">
                <div class="DetailLabel">Доставка:</div>
                <div class="DetailValue">69,00 грн</div>
            </div>
            <div class="Detail">
                <div class="DetailLabel">Вага з супутнім пакованням:</div>
                <div class="DetailValue">1,76 кг</div>
            </div>
            <div class="Detail">
                <div class="DetailLabel">Всього:</div>
                <div class="DetailValue total">402,00 грн</div>
            </div>
            <div class="AdditionalInfo">
                <div class="InfoContent">
                    <div class="InfoTitle">Коментар до замовлення</div>
                    <div class="InfoComment">Тут ви можете залишити свої побажання щодо окремих товарів, усього
                        замовлення, пакування тощо.</div>
                </div>
                <div class="PromoNext">
                    <div class="NextText">Далі</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
