.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 3%;
    margin-top: 1.5%;
    align-items: center;
    gap: 16px;
    width: auto;
    height: 25px;
}

.breadcrumbLink {
    text-decoration: none;
    color: inherit;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #757575;
}

.breadcrumbLink:hover {
    color: #4d4d4d;
}

.breadcrumbArrow {
    width: 18px;
    height: 18px;
}

.full-width-orange {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px 15% 50px 15%;
    gap: 90px;
    width: 100vw;
    height: auto;
    background: #FF5722;
    border-radius: 36px;
    min-height: 750px;
}

@media (max-width: 1500px) {
    .full-width-orange {
        padding: 92px 5%;
        gap:40px;
    }
}

@media (max-width: 940px) {
    .full-width-orange {
        flex-wrap:wrap;
        justify-content:center;
    }
}

.photosDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    isolation: isolate;
    width: auto;
    height: 480px;
}

.photo {
    background: #FFFFFF;
}

.photo.large {
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    padding: 5%;
    border-radius: 10%;
}

.photo.small {
    width: 110px;
    height: 110px;
    padding: 3%;
    border-radius: 20%;
}

.small-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 100%;
    height: auto;

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;

}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: auto;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    cursor:pointer;
}

.accordion{
    width:100%;
}

.descriptionTitleDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 20px 15px;
    border-radius: 1em;
    width: 100%;
    height: 50px;
    margin-left: -2%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.descriptionTitleDiv:hover {
    background: #E64A19;
}

.description {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.description.active {
    max-height: 200px;
    transition: max-height 0.3s ease-in-out;
}

#descriptionInfo {
    display: flex;
    padding: 2%;
}

.ArrowHorisontalImg {
    transition: transform 0.2s ease-out;
}

.rotated {
    transform: rotate(180deg);
}

.subInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    height: auto;
}

.subControllDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 100%;
    height: 231px;
}

.info-section {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
}

.infoTitleDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px 20px 15px;
    border-radius: 1em;
    width: 100%;
    height: 50px;
    margin-left: -2%;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.infoTitleDiv:hover {
    background: #E64A19;
}

.info-section-content {
    padding: 0px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.2s ease-in-out;
}

.info-section-content.active {
    max-height: 200px;
    transition: max-height 0.3s ease-in-out;
}

.attributeDivs {
    gap: 5px;
    padding: 2%;
}

.attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 5px;
}

.price {
    color: white;
    font-size: 72px;
    font-weight: 500;
}

.add-to-cart {
    background: #4E9B51;
    border-radius: 15px;
    border: 2px white solid;
    padding: 8px 20px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-selector button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1.88946px solid #FFFFFF;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
    box-sizing: border-box;
}

.quantity-selector .minus {
    border-radius: 3.4955px;
    padding: 0;
}

.quantity-selector .plus {
    border-radius: 4px;
    padding: 5.82583px;
}

.quantity-selector .quantity {
    width: 26px;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 44.4px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}

.quantity-cart-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-cart-row .add-to-cart {
    margin-left: 20px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width:590px){
    .carousel-item {
        display: block;
        margin-right: 0;
    }
}

.carouselControlPrev, .carouselControlNext {
    border:none;
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 44px;
    height: 44px;
}


/*///////////////////////////////////              CARDS               ////////////////////////////////////*/
#mainProductsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 100%;
    height: 459px;
    margin-top: 4%;
}

#pagesDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: auto;
    height: 44px;
}

#productsCarousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 301px;
}

#productsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 22px;
    width: 100%;
    height: 301px;
}

#subProductsDiv {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 5.5%;
    margin-right: 4.5%;
}
#subProductsDiv > *:not(:last-child) {
    margin-right: 28px;
}

#mainProductsTagText {
    width: 100%;
    height: 54px;
    text-align:center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #1E1E1E;
}

.cardDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 8px;
    isolation: isolate;
    width: 202px;
    height: 301px;
    background: #FFFFFF;
    border: 3px solid #53B06C;
    border-radius: 20px;
    font-family: 'Noto Sans';
}

.productIconDiv {
    position: relative;
    display: flex;
    justify-content: center;
    width: 162px;
    height: 100px;
}

.productIcon {
    width: 80px;
    height: 80px;
    left: calc(50% - 80px/2);
    top: calc(50% - 80px/2);
}

.productInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 162px;
    height: 153px;
}

.productNameDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 162px;
    height: 62px;
}

.productName {
    width: 162px;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1E1E1E;
}

.productFullName {
    width: 162px;
    height: 32px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #1E1E1E;
}

.priceDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 127px;
    height: 25px;
}

.subPriceDiv {
    display: flex;
    flex-direction: row;
    width: 66px;
    height: 25px;
    gap: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1E1E1E;
}

.crossTextDiv {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 20px;
    gap: 5px;
}

.crossTextDiv span {
    padding-top: 4px;
    width: 80px;
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #888888;
}

.productControlDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 50px;
    width: 162px;
    height: 34px;
}

.productCountDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 74px;
    height: 22px;
}

.productBuyBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4.6%;
    gap: 10px;
    width: 34px;
    height: 34px;
    background: #53B06C;
    border-radius: 30px;
    border: none;
}

.productCartIcon {
    width: 19px;
    height: 19px;
}

.productCountButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #DBDADA;
    border-radius: 3px;
}

.productCount {
    width: 10px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #7A7A7A;
}

.discountIcon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
}

.no-drag {
    -webkit-user-drag: none;
}